<?xml version="1.0" encoding="utf-8"?>
<form>
  <fields name="params">
    <fieldset name="basic" label="PLG_CONTENT_AICHATBOT_FIELDSET_BASIC">
      <field name="enabled_queue" type="radio" default="1" class="btn-group btn-group-yesno"
             label="PLG_CONTENT_AICHATBOT_ENABLE_QUEUE" description="PLG_CONTENT_AICHATBOT_ENABLE_QUEUE_DESC">
        <option value="1">JYES</option>
        <option value="0">JNO</option>
      </field>
    </fieldset>
  </fields>
</form>
